<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".CoolCookApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coolcook">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.main.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Coolcook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.home.ui.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.search.ui.FoodCatalogActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.search.ui.FoodDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.chatbot.ui.ChatBotActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.profile.ui.HealthTrackingActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.journal.ui.JournalCalendarActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.journal.ui.JournalDayDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.social.ui.JournalHistoryGridActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.camera.ui.ScanFoodActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.camera.ui.SavedScanDishesActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />

        <activity
            android:name=".feature.social.ui.FriendInviteActivity"
            android:exported="true"
            android:theme="@style/Theme.Coolcook">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="friend-invite"
                    android:scheme="coolcook" />
            </intent-filter>

            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="coolcook.app"
                    android:pathPrefix="/invite"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.auth.ui.AuthActivity"
            android:exported="false"
            android:theme="@style/Theme.Coolcook" />
    </application>

</manifest>
